{% extends 'base.html.twig' %}

{% block title %}Créer ou éditer un article{% endblock %}

{% block body %}

    {# ========== Créer ou éditer un article ========== #}

    <h1 class="my-4">Créer ou éditer un article</h1>

    {{ form_start(formArticle) }}

        <div class="form">
            {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}} ) }}
        </div>

        <div class="form">
            {{ form_row(formArticle.category) }}
        </div>

        <div class="form">
            {{ form_row(formArticle.content, {'attr': {'placeholder': 'Description'}} ) }}
        </div>

        <div class="form">
            {{ form_row(formArticle.image, {'attr': {'placeholder': 'Image'}} ) }}
        </div>

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Editer
            {% else %}
                Ajouter
            {% endif %}
        </button>

    {{ form_end(formArticle) }}


    


{% endblock %}
