{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    {# ========== Affiche liste des articles avec pagination ========== #}

    {# Pagination #}
    <div class="center mt-5">
        <div class="pagination">
            <a class="{% if page == 1 %}disabled{% endif %}" href="{{ path('blog_pagination', {'page': page - 1}) }}"> « </a>

            {% for i in 1..pages %}
            <a class="page-item {% if page == i %}active{% endif %}" href="{{ path('blog_pagination', {'page': i}) }}">{{ i }}</a>

            {% endfor %}
            <a class="page-item {% if page == pages %}disabled{% endif %}" href="{{ path('blog_pagination', {'page': page + 1}) }}"> » </a>
        </div>
    </div>


    <section class="articles">

        {% for article in articles %}
        <articles>
            <h1 class="my-4">{{ article.title }}</h1>
            <div class="metadata my-1">Ecrit le {{ article.createdAt | date('d/m/Y à H:i:s') }} dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p>{{ article.content | raw }}</p>

                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a> {# La fonction path peut prendre un 2e parametre : {'id': article.id}. On peut aussi écrire {id: article.id} #}

            </div>
        </article>
        {% endfor %}

    </section>
    

{% endblock %}
