{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    {# ========== Affiche un article ========== #}

    <articles>
        <h1 class="my-4">{{ article.title }}</h1>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {# Afficher l'article : #}

        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y à H:i:s') }} dans la catégorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="{{ article.title }}">
            <p>{{ article.content | raw }}</p>
        </div>
    </article>

    {# Afficher les commentaires sur cet article : #}

    <section id="commentaires">
        <h2 class="my-5">{{ article.comments | length }} commentaires :</h2>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                    {{ comment.author }} ({{ comment.createdAt | date('d/m/Y à H:i:s') }})
                    </div>
                    <div class="col">
                    {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {# Formulaire de commentaire : #}

        {% if app.user %}
        {{ form_start(commentForm) }}
            <div class="form mt-5">
                {{ form_row(commentForm.author, {'attr': {'placeholder': "Votre pseudo"}}) }}
            </div>
            <div class="form">
                {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
            </div>
            <button type="submit" class="btn btn-success">Commenter</button>
        {{ form_end(commentForm)}}
        {% else %}
            <p class="mt-5">Connectez-vous pour poster un commentaire !</p>
        {% endif %}

    </section>

{% endblock %}
